@charset "UTF-8";
/*////[Variables]
________________________________________________________*/
:root {
  /*[Variantes de couleurs]*/
  --vert-pale: hsl(155, 23%, 50%);
  --vert: hsl(155, 30%, 37%);
  --gris-tres-pale: hsl(0, 0%, 94%);
  --gris-pale: hsl(0, 0%, 89%);
  --gris-fonce: hsl(0, 0%, 10%);
  --blanc: hsl(0, 0%, 100%);
  --noir: hsl(0, 0%, 0%);
  /*[Variantes de medias queries]*/
  --breakpoint-1200: 1200;
  --breakpoint-1800: 1800;
}

/*////[Reset du code HTML]
________________________________________________________*/
/*[Reset tout les balises]*/
html, body, div, .heures div p, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*[Le document en général]*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*[Affecte tous les enfants]*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*[Reset des listes à l'intérieur d'un nav]*/
nav ul {
  list-style: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 6em;
  border-top: 5px solid var(--vert);
}

footer .f-infos {
  margin-right: 8em;
  font-weight: 400;
  line-height: 2;
}

footer .f-infos div:first-of-type, footer .f-infos .heures div p:first-of-type, .heures div footer .f-infos p:first-of-type {
  margin: 1em 0;
}

footer .f-infos i {
  font-size: 1.5em;
}

footer .f-infos i:first-of-type {
  margin-right: .5em;
}

footer .f-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .f-form h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}

footer .f-form input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer .f-form button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1em;
  background-color: var(--vert);
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2em;
  height: 2.5em;
  font-weight: 400;
  color: var(--blanc);
  background-color: var(--vert);
}

.top-nav p, .top-nav i {
  margin: 0 .5em;
}

header {
  background-image: url(../img/header.jpg);
  height: 80vh;
  padding: 2em 6em;
}

header img {
  margin-right: 2em;
  width: 13em;
  height: auto;
}

.fil-ariane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  padding: 0 6em;
  font-weight: 400;
  color: var(--blanc);
  background-color: var(--vert-pale);
}

.fil-ariane p {
  margin-right: 1em;
}

.liste-produits {
  padding: 6em 5em;
  background-color: var(--gris-tres-pale);
}

.liste-produits h2 {
  text-align: center;
}

.liste-produits .liste-menu {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.liste-produits .liste-menu article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em;
  height: 25em;
  background-color: var(--blanc);
  border: 2px solid #9b9b9b;
  -webkit-box-shadow: 5px 10px 8px #c4c4c4;
          box-shadow: 5px 10px 8px #c4c4c4;
}

.liste-produits .liste-menu article .infos-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.liste-produits .liste-menu article h3 {
  margin: 3em 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.liste-produits .liste-menu article .description-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9em;
  font-weight: 400;
}

.liste-produits .liste-menu article .description-menu p:first-of-type {
  margin-right: 12em;
}

.liste-produits .liste-menu article .btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  height: 3em;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9em;
  color: var(--blanc);
  background-color: var(--vert);
}

header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--blanc);
}

header ul li {
  margin: 0 .8em;
}

.produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 5em;
  background-color: var(--gris-pale);
  color: var(--gris-fonce);
}

.produits .p-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10em;
  text-align: center;
  color: var(--gris-fonce);
}

.produits .p-intro p {
  margin: 2em 0;
  font-weight: 400;
}

.produits h2 {
  color: var(--noir);
}

.produits .p-liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.produits article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25em;
  margin: 0 2em;
  padding: 1em;
  background-color: var(--blanc);
}

.produits article h3 {
  margin: 2em 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: var(--gris-fonce);
}

.produits article button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  padding: .5rem;
  font-size: .75em;
  background-color: var(--vert-pale);
}

.produits .btn-produits {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2em;
  background-color: var(--vert);
  padding: .6rem .8rem;
  font-size: .9rem;
}

.heures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 5em;
}

.heures div, .heures div p {
  margin: 1em 0;
}

.heures div p {
  font-weight: 400;
  text-align: center;
}

.heures div .bold {
  font-weight: 500;
}

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  background-image: url(../img/promotion.jpg);
}

.promotion .promo-infos {
  margin: 5em;
  padding: 2em;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.85);
}

.promotion .promo-infos p {
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5;
}

.promotion .promo-infos p .bold {
  font-weight: 500;
}

.livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 5em;
  background-color: var(--gris-pale);
}

.livraison .etapes-livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  text-align: center;
}

.livraison .etapes-livraison .e-1 img {
  width: 8em;
  height: auto;
  margin-bottom: 2em;
}

.livraison .etapes-livraison .e-2 img {
  width: 6em;
  height: auto;
  margin-bottom: 2em;
}

.livraison .etapes-livraison .e-3 img {
  width: 6em;
  height: auto;
  margin-bottom: 2em;
}

.livraison .etapes-livraison .e-4 img {
  width: 6em;
  height: auto;
  margin-bottom: 2em;
}

.livraison .etapes-livraison .e-1, .livraison .etapes-livraison .e-2, .livraison .etapes-livraison .e-3, .livraison .etapes-livraison .e-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12em;
}

.perimetre-livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 5em;
}

.perimetre-livraison img {
  width: 6em;
  height: auto;
  color: var(--vert);
}

.perimetre-livraison p {
  font-size: 1.2em;
  font-weight: 400;
}

.perimetre-livraison input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.perimetre-livraison button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  padding: .5em 1.5em;
  background-color: var(--vert);
}

.perimetre-livraison img, .perimetre-livraison p, .perimetre-livraison button, .perimetre-livraison input[type=text] {
  margin-top: 1.5em;
}

.entreprise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 5em;
  background-color: var(--gris-pale);
}

.entreprise article {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entreprise article img {
  width: 30em;
  height: auto;
}

.entreprise article div, .entreprise article .heures div p, .heures div .entreprise article p {
  padding: 0 0 0 2em;
  width: 40vw;
  line-height: 2;
  font-weight: 400;
}

.entreprise article div p:first-of-type, .heures div .entreprise article p p:first-of-type {
  margin-bottom: 1em;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
}

.produits h2:after, .heures h2:after, .livraison h2:after, .perimetre-livraison h2:after, .entreprise h2:after, .liste-produits h2:after {
  content: "";
  display: block;
  background-color: var(--vert);
  height: 2px;
  width: 7em;
  margin-top: .5em;
  margin: .6em auto 0 auto;
}

.promotion h2:after {
  content: "";
  display: block;
  background-color: var(--vert);
  height: 2px;
  width: 7em;
  margin-top: .5em;
  margin: .6em 0 0 0;
}
/*# sourceMappingURL=style.css.map */