//----------------------------------------------------//
//                                                    //
//                   // MIXIN //                      //
//                   _mixin.scss                      //
//----------------------------------------------------//


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Raccourcis pour écriture des media queries (exemple: @include rwd-min-width(700) {})
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin rwd-min-width($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

 @mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 @mixin flex-items-center{
     display: flex;
     align-items: center;
 }

 @mixin flex-column{
     display: flex;
     flex-direction: column;
 }

@mixin ligne-after{
    content: "";
    display: block;
    background-color: var(--vert);
    height: 2px;
    width: 7em;
    margin-top: .5em;
}

@mixin button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}