//----------------------------------------------------//
//                                                    //
//              // NAV PRINCIPALE //                  //
//               _navPrincipale.scss                  //
//----------------------------------------------------//

header{
    & .nav-wrapper{
        display: flex;
    }

    & nav{
      @include reset-nav-materialize;
    }

    & ul{
        display: flex;
        font-family: 'Roboto Slab', serif;
        font-size: .8em;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--blanc);
        
        & li{
            margin: 0 .8em;
            
            &:hover{
                color: var(--gris-pale);
                border-bottom: 2px solid var(--vert);
            }
        }
    }
}
